header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(202, 165, 239);
  padding: 1rem;
  margin-bottom: 1rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

main {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
}

h2 {
  border: 1px solid black;
  padding: 1rem;
  margin-top: 0;
}

fieldset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  border: none;
}

[checked] {
  background: rgb(129, 129, 129);
}

#physical,
#mental {
  display: flex;
  flex-flow: column nowrap;
}
