/* Styles on Initial Page */
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(120deg, rgb(210, 228, 239) 0%, rgb(165, 239, 190) 100%);
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

h1 {
  padding-left: 2rem;
}

#profile-image {
  padding-right: 2rem;
}

section {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  height: fit-content;
  width: 50vw;
  padding: 1rem 2rem;
}

#no-record {
  text-align: center;
  padding: 2rem;
}

#create-record {
  width: max-content;
  align-self: center;
  padding: 0.5rem 3rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
}

h2 {
  border: 1px solid black;
  padding: 1rem;
  margin: 0;
  text-align: center;
  border-bottom: none;
}

/* Styles after record is created */
[checked] {
  background: rgb(129, 129, 129);
}

div#physical,
div#mental {
  display: flex;
  flex-flow: column nowrap;
}

span {
  margin: 0.5rem 0.5rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

#new-phys-input,
#new-ment-input {
  display: inline;
}

#add-phys-symptom,
#add-ment-symptom {
  display: inline;
}

.severity {
  margin: 0.5rem 0.5rem;
  padding: 0;
  border: none;
  height: 1.2rem;
  border-radius: 3px;
}

.severity label {
  width: 100%;
  height: 100%;
  padding: 0.1rem 0.9rem;
  border: 1px solid black;
  border-radius: 3px;
}

#submit-button {
  margin-top: 3rem;
  width: fit-content;
  align-self: flex-end;
}

/* success modal */
#success-screen {
  border: black solid 1px;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  text-align: center;
  z-index: 2;
  width: 30%;
  height: 10rem;
  position: fixed;
  top: 15rem;
}

#close-button {
  width: 15px;
  height: 15px;
  border: none;
  padding: 0;
  background-color: rgb(165, 239, 190, 0);
  float: right;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

#gray-out {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(92, 92, 92, 0.592);
  position: fixed;
  top: 0px;
}
