header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(202, 165, 239);
  padding: 1rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

main {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

#physical {
  display: flex;
  flex-flow: column nowrap;
}

#mental {
  display: flex;
  flex-flow: column nowrap;
}

fieldset div {
  display: flex;
  flex-flow: row nowrap;
}
